@font-face {
    font-family: 'Discord';
    src: local('Discord'), url(./fonts/DiscordGinto/ABCGintoDiscord-Medium.ttf) format('ttf');
}
body{
    height: 100vh;
    width: 100vw;
}
canvas{
    border: 10px solid #000000;
    border-radius: 50px;
}